@page
@model IndexModel
@{
    ViewData["Title"] = "Districts";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="float-left card-title font-weight-bold">Districts</h3>
            @if (Model.permissions["CanCreate"])
            {
                <a class="float-right" asp-page="Manage">
                    <i class="fa fa-plus text-dark" data-toggle="tooltip" data-placement="top" title="Create"></i>
                </a>
                <div class="clearfix"></div>
            }
        </div>
        <div class="card-body">
            @if (Model.Districts != null && Model.Districts.Count > 0)
            {
                <div class="table-responsive">
                    <table id="tblDataTable" class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="search">State Name</th>
                                <th class="search">District Name</th>
                                <th class="search">District Code</th>
                                <th class="text-center noExport noSort">Active</th>
                                <th class="text-center noExport noSort">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Districts)
                            {
                                <tr>
                                    <td>@item.StateName</td>
                                    <td>@item.DistrictName</td>
                                    <td>@item.DistrictCode</td>
                                    <td class="text-center"><i class="@(item.IsActive?"fa fa-check-circle text-success":"fa fa-minus")"></i></td>
                                    <td class="text-center">
                                        @if (Model.permissions["CanEdit"])
                                        {
                                            <a asp-page="Manage" asp-route-id="@item.Id">
                                                <i class="fa fa-edit text-dark" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="search">State Name</th>
                                <th class="search">District Name</th>
                                <th class="search">District Code</th>
                                <th class="text-center noExport noSort">Active</th>
                                <th class="text-center noExport noSort">Edit</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <p>No records has been added yet. Click 'Create New' to start adding.</p>
            }
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" asp-append-version="true">
        $('#tblDataTable').DataTable({
            initComplete: function () {
                var r = $('#tblDataTable tfoot tr');
                r.find('th').each(function () {
                    if ($(this).hasClass('search')) {
                        $(this).css('padding', 5);
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                    } else {
                        $(this).html('');
                    }
                });
                $('#tblDataTable thead').prepend(r);
                this.api().columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change clear',
                        function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                });
            }
        });
    </script>
}