@page
@model IndexModel
@{
    ViewData["Title"] = "States";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title float-left font-weight-bold">States</h3>
            <a class="float-right" asp-page="Manage">
                <i class="fa fa-plus text-dark" data-toggle="tooltip" data-placement="top" title="Create"></i>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            @if (Model.States != null && Model.States.Count > 0)
            {
                <div class="table-responsive">
                    <table id="tblDataTable" class="table table-sm table-bordered table-striped">
                        <thead>
                            @{
                                int index = 0;
                            }
                            <tr>
                                <th class="search" style="width: 70px;">S. No.</th>
                                <th class="search">Country</th>
                                <th class="search">State Name</th>
                                <th class="search">State Code</th>
                                <th class="text-center noExport noSort">Active</th>
                                <th class="text-center noExport noSort">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.States)
                            {

                            <tr>
                                <td class="text-right">
                                    @{ index++; }
                                    @index
                                </td>
                                <td>@item.CountryName</td>
                                <td>@item.StateName</td>
                                <td>@item.StateCode</td>
                                <td class="text-center"><i class="@(item.IsActive?"fa fa-check-circle text-success":"fa fa-minus text-danger")"></i></td>
                                <td class="text-center">
                                    <a asp-page="Manage" asp-route-id="@item.Id">
                                        <i class="fa fa-edit text-dark" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="search">Country</th>
                                <th class="search">State Name</th>
                                <th class="search">State Code</th>
                                <th class="text-center noExport noSort">Active</th>
                                <th class="text-center noExport noSort">Edit</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <p>No records has been added yet. Click 'Create New' to start adding.</p>
            }
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" asp-append-version="true">
        $('#tblDataTable').DataTable({
            initComplete: function () {
                var r = $('#tblDataTable tfoot tr');
                r.find('th').each(function () {
                    if ($(this).hasClass('search')) {
                        $(this).css('padding', 5);
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                    } else {
                        $(this).html('');
                    }
                });
                $('#tblDataTable thead').prepend(r);
                this.api().columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change clear',
                        function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                });
            }
        });
    </script>
}