@page
@model WebSite.Pages.BuyerPaymentsViewModel
@{
    ViewData["Title"] = "Reserve Price Paid";
}
<link href="~/css/test.css" rel="
heet" />
<section class="content sectionbg">
    <div class="container content">

        <div class="row">
            <partial name="Shared/_DashboardSellerLeftPartial" />
            <div class="mx-auto mt-2 col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title float-left">Buyer Reserve Price Paid</h2>
                        @*<a class="float-right" asp-page="/ProductListing">
                    <i class="fa fa-plus text-dark" data-toggle="tooltip" data-placement="top" title="Create"></i> Add New Listing
                </a>*@
                        <div class="clearfix"></div>
                    </div>



                    <div class="card-body">
                        @if (Model.ModelVms != null && Model.ModelVms.Count > 0)
                        {
                            <div class="table-responsive" style="display:block; overflow-x:auto; white-space:nowrap;">
                                <table id="tblDataTable" class="table">
                                    <thead>
                                        @{
                                            int index = 0;
                                        }
                                        <tr>
                                            @*<th class="text-center noExport noSort"></th>*@
                                            <th class="text-center">S. No.</th>
                                            <th class="search">Product Code</th>
                                            <th class="search">Product Name</th>
                                            <th class="search text-right">Reserve Price Paid</th>
                                            <th class="search text-right">Total Paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ModelVms)
                                        {
                                            <tr>
                                                <td class="text-right">
                                                    @{ index++; }
                                                    @index
                                                </td>
                                                <td>@item.ProductNumber</td>
                                                <td>@item.SubSubCategory.SubSubCategoriesName</td>
                                                <td class="text-right">@item.ReservePrice.ToString("#,#")</td>
                                                <td class="text-right">
                                                    <a asp-page="BuyerPaymentsDetails" asp-route-id="@item.Id">
                                                        @item.TotalPaidBuyer
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p>No records found.</p>
                        }
                    </div>


                </div>
            </div>
        </div>
    </div>
    <partial name="Shared/_BuyerViewsPartial" />
</section>
