@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config;
@model WebSite.Pages.MyWantedEquipmentsModel
@{
}
<link href="~/css/test.css" rel="stylesheet" />
<section class="content sectionbg">
    <div class="container content">
        <div class="row">
            <partial name="Shared/_DashboardSellerLeftPartial" />
            <div class="mx-auto mt-2 col-md-9">
                <div class="card">

                    <div class="card-header">
                        <h2 class="card-title">My Wanted Equipment</h2>

                    </div>

                    <div class="card-body">

                        <div class="card-body">
                            @if (Model.ModelVms != null && Model.ModelVms.Count > 0)
                            {
                                <div class="table-responsive" style="display:block; overflow-x:auto; white-space:nowrap;">
                                    <table id="tblDataTable" class="table">
                                        <thead>
                                            @{
                                                int index = 0;
                                            }
                                            <tr>
                                                <th class="search" style="width:70px">S. No.</th>
                                                @*<th class="text-center noExport noSort"></th>*@
                                                <th class="search">Product Listing Title</th>
                                                <th class="search">Category</th>
                                                <th class="search">Sub-Category</th>
                                                <th class="search">Sub-Sub-Category</th>
                                                <th class="search">Product Condition</th>
                                                <th class="search">Qty.</th>
                                                <th class="search">Image</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ModelVms)
                                            {
                                                <tr>
                                                    <td class="text-right">
                                                        @{ index++; }
                                                        @index
                                                        <input type="hidden" asp-for="@item.Id" id="hdUId" name="Id" />
                                                        <input type="hidden" asp-for="@item.IsActive" id="IsActive" name="IsActive" />
                                                    </td>
                                                    @*<td class="text-center"></td>*@
                                                    <td>@item.ProductListingTitle</td>
                                                    <td>@item.Category</td>
                                                    <td>@item.SubCategory</td>
                                                    <td>@item.SubSubCategoryName</td>
                                                    <td>@item.ProductCondition</td>
                                                    <td>@item.Qty</td>
                                                    @*<td>@item.Files</td>*@
                                                    <td>
                                                        @if (item.Files == null)
                                                        {
                                                            <P>NA</P>
                                                        }
                                                        else
                                                        { <a href="@($"{_config["SiteUrl"]}/Files/Enquiry/{item.Files}")" target="_blank">View Image</a>}


                                                    </td>





                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p>No records has been added yet.</p>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


