@page "{id?}"
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config;
@using WebApp.Helpers
@model WebApp.Pages.Admin.WantedEquipment.DetailsModel
@{
    ViewData["Title"] = "Equipment Details";
}
<style>
    .invoice-head td {
        padding: 0 8px;
    }

    .invoice-body {
        background-color: transparent;
    }

    .invoice-thank {
        GettProductsDetailsById margin-top: 60px;
        padding: 5px;
    }

    address {
        margin-top: 15px;
    }

    .slide-large {
        border: none !important;
        margin-top: 20px;
    }

    .BorderImg {
        border: 2px solid black;
        width: 18%;
    }

    .slide-large .item {
        text-align: center;
    }

    .slide-large .slick-slide img {
        display: inline-block;
    }

    .slide-large .slick-arrow {
        width: 44px;
        height: 44px;
        background: #987e37;
        border-radius: 100%;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -22px;
        border: none;
        z-index: 9;
        font-size: 0px;
    }

        .slide-large .slick-arrow::after {
            content: '\f105';
            font-family: 'FontAwesome';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: #FFF;
            text-align: center;
            line-height: 44px;
            font-size: 22px;
        }

    .slick-prev.slick-arrow::after {
        content: '\f104';
    }

    .slick-prev.slick-arrow {
        right: inherit;
        left: 30px;
    }

    .slide-large .slick-arrow:focus {
        outline: none;
    }

    .slide-large .slick-arrow {
        right: 5px;
    }

    .slick-prev.slick-arrow {
        left: 5px;
    }

    .fontCol {
        color: #987e37
    }

    .breadcrumb-main ul li {
        display: block;
        margin: 0;
    }

    .productModal .slide-large {
        margin: 0;
    }

    .slide-thumb {
        margin-top: 5px;
    }

        .slide-thumb .item {
            border: 1px solid #c7c7c7;
        }

        .slide-thumb .slick-slide {
            margin: 0 3px;
        }

        .slide-thumb .slick-list {
            margin-left: -3px;
            margin-right: -3px;
        }

        .slide-thumb .slick-current .item {
            border: 1px solid #987e37;
        }

    .imgpadding {
        padding: 7px;
    }
</style>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title float-left" style="font-size: 2.1rem;">Equipment Details</h2>
            <div class="btn-group btn-group-sm float-right">
                <a class="btn btn-sm btn-secondary float-right" href="/Admin/WantedEquipment"><i class="fa fa-arrow-left"></i> Back</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="card-body">
            @if (Model.BuyerRequirements != null)
            {
            <div class="row">
                <table class="table table-bordered">

                    <tbody>
                        <tr>
                            <td><strong>Product Listing Title</strong></td>
                            <td>@Model.BuyerRequirements.ProductListingTitle</td>
                        </tr>
                        <tr>
                            <td><strong>Category</strong></td>
                            <td>@Model.BuyerRequirements.Category</td>
                        </tr>
                        <tr>
                            <td><strong>Sub-Category</strong></td>
                            <td>
                                @if (Model.BuyerRequirements.SubCategory == null)
                                    {
                                <p>NA</p>
                                    }
                                    else
                                    {
                                <p>@Model.BuyerRequirements.SubCategory</p>

                                    }
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Sub-Sub Category</strong></td>
                            <td>
                                @if (Model.BuyerRequirements.SubSubCategoryName == null)
                                    {
                                <p>NA</p>

                                    }
                                    else
                                    {
                                <p>@Model.BuyerRequirements.SubSubCategoryName</p>

                                    }

                            </td>
                        </tr>

                        <tr>
                            <td><strong>Product Condition</strong></td>
                            <td>@Model.BuyerRequirements.ProductCondition</td>
                        </tr>
                        <tr>
                            <td><strong>Qty</strong></td>
                            <td>@Model.BuyerRequirements.Qty</td>
                        </tr>
                        <tr>
                            <td><strong>Added On</strong></td>
                            <td>@Model.BuyerRequirements.CreatedDate</td>
                        </tr>

                        <tr>
                            <td><strong>Description </strong></td>
                            <td>@Model.BuyerRequirements.Descrition</td>
                        </tr>
                        <tr>

                            <td colspan="2" style="text-align: center;">
                                @if (Model.BuyerRequirements.Files == null)
                                    {
                                <p></p>
                                    }
                                    else
                                    {
                                <img src="@($"{_config["SiteUrl"]}/Files/Enquiry/{@Model.BuyerRequirements.Files}")" alt="@Model.BuyerRequirements.Files" loading="lazy" asp-append-version="true">}
                            </td>



                        </tr>


                    </tbody>
                </table>
            </div>
                <div class="row">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td colspan="2"><strong>Buyer Details</strong></td>

                    </tr>

                    <tr>
                        <td>
                            <p><strong>First Name</strong> <span>@Model.BuyerDetails.FirstName</span></p>
                            <p><strong>Email</strong>  <span>@Model.BuyerDetails.Email</span></p>

                            <p><strong>Landline No</strong>  <span>@Model.BuyerDetails.LandlineNo</span></p>

                        </td>
                        <td>
                            <p><strong>Last Name</strong> <span>@Model.BuyerDetails.LastName</span></p>
                            <p><strong>Mobile</strong>  <span>@Model.BuyerDetails.Mobile</span></p>

                            <p><strong>Company Name</strong>  <span>@Model.BuyerDetails.CompanyName</span></p>
                            


                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


            }
        </div>



</section>