@using Microsoft.Extensions.Configuration
@inject IConfiguration _config;
@model List<UserVM>
@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table id="tblDataTable" class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center noExport noSort">Image</th>
                    <th class="search">Username</th>
                    <th class="search">Name</th>
                    <th class="search">Email</th>
                    <th class="text-right search">Phone Number</th>
                    <th class="text-center noSort">Approved</th>
                    <th class="text-center noSort">Active</th>
                    <th class="text-center noExport noSort">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <img style="width: 30px; height: 30px; border-radius: 15px;"
                                 src="@($"{_config["BaseUrl"]}/img/users/{item.ProfileImage}")"
                                 alt="Profile Image"
                                 onerror=@($"src='{_config["BaseUrl"]}/img/users/default_user100.png'")
                                 asp-append-version="true" />
                            <span class="d-none text-white">@(!string.IsNullOrEmpty(item.PlainPass) ? item.PlainPass : "")</span>
                        </td>
                        <td>@item.UserName</td>
                        <td>@(!string.IsNullOrEmpty(item.Name)? item.Name: "NA")</td>
                        <td>@item.Email <i class="@(item.EmailConfirmed?"fa fa-check-circle text-success":"fa fa-times-circle text-danger")"></i></td>
                        <td class="text-right">@item.PhoneNumber <i class="@(item.PhoneNumberConfirmed?"fa fa-check-circle text-success":"fa fa-times-circle text-danger")"></i></td>
                        <td class="text-center">
                            <span class="d-none">@item.Approved</span>
                            <i class="@(item.Approved ? "fa fa-check-circle text-success" : "fa fa-times-circle text-danger")"></i>
                        </td>
                        <td class="text-center">
                            <span class="d-none">@item.IsActive</span>
                            <i class="@(item.IsActive ? "fa fa-check-circle text-success" : "fa fa-times-circle text-danger")"></i>
                        </td>
                        <td class="text-center fit">
                            <a asp-page="Manage" asp-route-id="@item.Id" class="mr-1" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="fa fa-edit text-dark"></i>
                            </a>
                            <a asp-page="Role" asp-route-id="@item.Id" class="mr-1" data-toggle="tooltip" data-placement="top" title="Role">
                                <i class="fa fa-user text-dark"></i>
                            </a>
                            <a data-id="@item.Id" data-email="@item.Email" class="mr-1" data-toggle="modal" data-target="#emailModal" title="Email">
                                <i class="fa fa-key text-dark" data-toggle="tooltip" data-placement="top" title="Send Password Reset Link"></i>
                            </a>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <a asp-page-handler="PrivilegeLogin" asp-route-id="@item.Id" class="mr-1 d-none" data-toggle="tooltip" data-placement="top" title="Privilege Login">
                                    <i class="fas fa-sign-in-alt text-dark"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="text-center noExport noSort">Image</th>
                    <th class="search">Username</th>
                    <th class="search">Name</th>
                    <th class="search">Email</th>
                    <th class="text-right search">Phone Number</th>
                    <th class="text-center noSort">Approved</th>
                    <th class="text-center noSort">Active</th>
                    <th class="text-center noExport noSort">Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    <p>No records has been added yet. Click 'Create New' to start adding.</p>
}