@page
@model WebApp.Pages.Admin.Products.PendingProductsModel
@{
    ViewData["Title"] = "Pending Products";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title float-left font-weight-bold">Products</h3>
            @*<a class="float-right" asp-page="Manage">
                    <i class="fa fa-plus text-dark" data-toggle="tooltip" data-placement="top" title="Create"></i>
                </a>*@
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            @if (Model.ModelVms != null && Model.ModelVms.Count > 0)
            {
                <div class="table-responsive">
                    <table id="tblDataTable" class="table table-sm table-bordered table-striped">
                        <thead>
                            @{
                                int index = 0;
                            }
                            <tr>
                                <th class="text-center">S. No.</th>
                                @*<th class="search">Product Code</th>*@
                                <th class="search">Sale Type</th>
                                <th class="search">Product Name</th>
                                <th class="search text-right">Reserve Price</th>
                                <th class="search text-right">Service Charge</th>
                                <th class="search">Created On</th>
                                <th class="text-center noExport noSort">View</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ModelVms)
                            {
                                <tr>
                                    <td class="text-right">
                                        @{ index++; }
                                        @index
                                        <input type="hidden" asp-for="@item.Id" id="hdProductId" name="ProductId" />
                                        <input type="hidden" asp-for="@item.IsApprove" id="hdIsApprove" name="IsApprove" />
                                        <input type="hidden" asp-for="@item.IsFeatured" id="hdIsFeatured" name="IsFeatured" />
                                    </td>
                                    @*<td>@item.ProductNumber</td>*@
                                    <td>@item.SaleType</td>
                                    <td>@item.SubSubCategory.SubSubCategoriesName</td>
                                    
                                    <td class="text-right">@item.EstimatePrice.ToString("0")</td>
                                    <td class="text-right">@item.ReservePrice.ToString("0")</td>
                                    <td>@($"{item.CreatedDate:dd-MM-yyyy hh:mm tt}")</td>
                                    <td class="text-center">
                                        <a asp-page="ViewPendingProductDetails" asp-route-id="@item.Id">
                                            <i class="fa fa-eye text-dark" data-toggle="tooltip" data-placement="top" title="View Details"></i>
                                        </a>
                                    </td>
                                    


                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-center">S. No.</th>
                                
                                <th class="search">Sale Type</th>
                                <th class="search">Sub Sub Category</th>
                                <th class="search">Reserve Price</th>
                                <th class="search text-right">Service Charge</th>
                                <th class="search">Created On</th>
                                <th class="text-center noExport noSort">View</th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <p>No records has been added yet.</p>
            }
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" asp-append-version="true">
        $('#tblDataTable').DataTable({
            initComplete: function () {
                var r = $('#tblDataTable tfoot tr');
                r.find('th').each(function () {
                    if ($(this).hasClass('search')) {
                        $(this).css('padding', 5);
                        var title = $(this).text();
                        $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');
                    } else {
                        $(this).html('');
                    }
                });
                $('#tblDataTable thead').prepend(r);
                this.api().columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change clear',
                        function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                });
            }
        });
    </script>
}
